body 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.overlap-grid
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}

.contact-grid
{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

#background-image-1
{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 75% 50%;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    z-index: -1;
}

#text-wrapper-1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: clamp(5%, calc(95vw - min(40vh, 90vw)), 25%);
    width: min(40vh, 90vw);
    height: auto;
    justify-self: end;
}

h1
{
    font-family: "Aboreto", Tahoma, sans-serif;
    font-weight: 50;
    font-size: calc(1rem + (0.075 * min(40vh, 90vw)));
}

h2 
{
    font-family: "Abel", Garamond, serif;
    font-weight: 200;
    font-size: calc(1rem + (0.03 * min(40vh, 90vw)));
}

.page-link
{
    text-decoration: none;
}

.other-link
{
    text-decoration: none;
}

.other-link:hover .visible-page-link
{
    background-color: #3F3473;
    font-size: calc(1rem + (0.06 * min(40vh, 90vw)));
    border-radius: 4px;
}

.other-link:active .visible-page-link {
    opacity: 0;
    transform: scale(0.5);
}

.visible-page-link
{
    display: block;
    margin: 5%;
    padding: 5%;
    border-radius: 2px;
    background-color: darkslateblue;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Aboreto", Tahoma, sans-serif;
    font-weight: 100;
    font-size: calc(1rem + (0.05 * min(40vh, 90vw)));
    transition: 0.3s;
}

.page-link:hover .visible-page-link
{
    background-color: #3F3473;
    font-size: calc(1rem + (0.06 * min(40vh, 90vw)));
    border-radius: 4px;
}

.page-link:active .visible-page-link
{
    opacity: 0;
    transform: scale(0.5);
}

@keyframes screenTransition
{
    from{ transform: translate(0%, 0%); opacity: 100%; }
    to{ transform: translate(50%, 0%); opacity: 0%; }
}

.screen-transition-animator
{
    animation: screenTransition 0.5s ease-in 1;
    animation-fill-mode: forwards;
}

html{
    scroll-behavior: smooth;
}