body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

#fade-bg-image
{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}